---
import "../styles/global.css";
import PlaygroundBase from "../components/playground/Playground.astro";
import fs from "fs";
import path from "path";

const es5 = fs.readFileSync(path.join(process.cwd(), "./node_modules/typescript/lib/lib.es5.d.ts"), "utf-8");
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>ts-runtime-checks</title>
    </head>

    <body>
        <PlaygroundBase libCode={es5} />
    </body>
</html>
