---

---

<footer class="bg-[#222] text-white flex h-[55px] justify-center items-center w-full z-10">
    <p>
        Made with ❤️ by <a href="https://github.com/GoogleFeud">GoogleFeud</a>.
    </p>
</footer>
