name: Deploy playground to github pages
on:
  workflow_dispatch:
  push:
    paths:
      - "playground/**"
  release:
    branches:
      - dev
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - uses: actions/setup-node@v2
      - run: npm i
      - run: tsc
      - run: |
          cd ./playground
          npm i
          npx next build
          npx next export
          touch ./out/.nojekyll
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ./playground/out